<%= form_with(model: [@blog, @comment]) do |f| %>
  <%= f.hidden_field :parent_id %>
  <div class="form-group">
    <%= f.label 'Reply' %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Submit' %>
  <%= link_to 'Cancel', blog_path(@blog) %>
<% end %>
